.container {
    display: flex;
    gap: 60px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 900px;

    align-items: center;
}

.text:hover {
    cursor: pointer;
}

.button {
    margin-right: 10px;
}

.profile_info {
    min-width: 600px;
}

.orders_container {
    max-height: 600px;
    min-width: 600px;
    overflow-y: scroll;
}